
*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Marcellus", serif;
}

/* ul{
    list-style: none;
}

a{
    text-decoration: none;
} */

h1{
    font-size: 35px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 16px;
    color: #212529;
}

.logo{
    width: 70%;
}





/* ====== SERVICES SECTION ======= */

.serv_icon{
    width: 20%;
}

.Services{
    padding: 100px 0px;
}

.services_inner_box{
    position: relative;
}

.services_number{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #ccc;
}



/* ======== Courses Section ====== */

.SocialMeidaIcon{
width: 50%;
}

.socialBox a{
    background-color: blueviolet;
    height: 50px;
    width: 50px;
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.socialBox{
    display: flex;
}

